.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 120px;
}

.custom-dropdown-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: 120px;
  height: 37px;
  padding: 12px 16px;
  background-color: var(--neutral-600);
  justify-items: center;
  align-items: center;
  border-radius: 8px;
  justify-content: space-evenly;
}

.MuiPaper-root {
  background: none;
}

.MuiPopover-paper .MuiMenu-paper {
  background: none;
}

.Mui-selected {
  background-color: var(--neutral-700) !important;
}
.custom-dropdown-popper {
  background-color: var(--neutral-800);
  border-radius: 12px;
  height: fit-content;
}

.custom-dropdown-list {
  background-color: var(--neutral-800);
  position: relative;
  overflow: auto;
  width: 214px;
  cursor: pointer;
  padding: 6px 8px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.divider {
  background-color: var(--neutral-600);
}

.selected-item {
  width: 198px;
  border-radius: 8px;
  background-color: var(--neutral-700);
}
