# Node modules
node_modules/

# Build output
dist/
build/
design/

# Logs
npm-debug.log*

# OS files
.DS_Store

# Environment variables
.env

# IDE files
.vscode/
.idea/
.vite/

# Misc
coverage/
*.tgz

backend/__pycache__
backend/.venv