@font-face {
  font-family: "BricolageGrotesque_Bold";
  src: local("BricolageGrotesque-Bold"),
    url("assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf"),
    format(".tff");
}

@font-face {
  font-family: "DM_Sans_Bold";
  src: local("DM_Sans_Bold"), url("assets/fonts/DM_Sans/static/DMSans-Bold.ttf"),
    format(".ttf");
}

@font-face {
  font-family: "DM_Sans_Light";
  src: local("DM_Sans_Light"),
    url("assets/fonts/DM_Sans/static/DMSans-Light.ttf"), format(".ttf");
}
@font-face {
  font-family: "DM_Sans_Medium";
  src: local("DM_Sans_Medium"),
    url("assets/fonts/DM_Sans/static/DMSans-Medium.ttf"), format(".ttf");
}
@font-face {
  font-family: "DM_Sans_SemiBold";
  src: local("DM_Sans_SemiBold"),
    url("assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf"), format(".ttf");
}

@font-face {
  font-family: "DM_Sans_SemiBoldItalic";
  src: local("DM_Sans_SemiBoldItalic"),
    url("assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf"), format(".ttf");
}
