@font-face {
  font-family: "BricolageGrotesque-Bold";
  src: local("BricolageGrotesque-Bold"),
    url("assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf"),
    format(".tff");
}

@font-face {
  font-family: "DMSans-Bold";
  src: local("DMSans-Bold"), url("assets/fonts/DM_Sans/static/DMSans-Bold.ttf"),
    format(".ttf");
}

@font-face {
  font-family: "DMSans-Light";
  src: local("DMSans-Light"),
    url("assets/fonts/DM_Sans/static/DMSans-Light.ttf"), format(".ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: local("DMSans-Medium"),
    url("assets/fonts/DM_Sans/static/DMSans-Medium.ttf"), format(".ttf");
}
@font-face {
  font-family: "DMSans-SemiBold";
  src: local("DMSans-SemiBold"),
    url("assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf"), format(".ttf");
}

@font-face {
  font-family: "DMSans-SemiBoldItalic";
  src: local("DMSans-SemiBoldItalic"),
    url("assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf"), format(".ttf");
}
