.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 120px;
}

.select-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

.label-icon {
  font-size: 16px; /* can be replaced with inline SVG */
}

.custom-select {
  width: 120px;
  height: 37px;
  padding: 10px 12px;
  font-size: 16px;
  color: #333;
  border: 1px solid var(--neutral-600);
  border-radius: 8px;
  background: #fff;
  padding: 8px 16px;

  /* remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
}

/* add custom arrow */
.custom-select {
  background-image: url("../../public/assets/images/icon-dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
  background-color: var(--neutral-600);
  color: var(--neutral-0);
  padding-right: 36px;
}

.custom-select:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

select option {
  background: var(--neutral-800);
  color: var(--neutral-0);
}
