.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--neutral-0);
}
.search-input {
  background-color: var(--neutral-800);
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 500px;
  padding: 16px 24px;
}

.search-btn {
  background-color: var(--blue-500);
  height: 45px;
  width: 114px;
  border-radius: 5px;
  border: var(--blue-500);
}

.search-dropdown {
  width: 500px;
  height: 280px;
  background-color: var(--neutral-800);
  position: absolute;
  border-radius: 12px;
  transform: translate(1px, -5px);
  z-index: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.search-loader {
  height: 55px;
}

.search-item {
  background: none;
  list-style: none;
}

.search-progress {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
