.search-container {
  display: flex;
  gap: 10px;
  color: var(--neutral-0);
  width: 343px;
  flex-direction: column;
  height: 124px;
}
.search-input {
  border-radius: 5px;
  width: 343px;
  height: 56px;
  background-color: var(--neutral-800);
  padding: 16px 24px;
  color: var(--neutral-200);
}

.search-btn {
  background-color: var(--blue-500);
  border-radius: 5px;
  border: var(--blue-500);
  width: 343px;
  height: 56px;
}

.search-dropdown {
  width: 343px;
  height: 148px;
  background-color: var(--neutral-800);
  position: absolute;
  border-radius: 12px;
  transform: translate(1px, -5px);
  z-index: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
}

.search-loader {
  height: 55px;
}

.search-item {
  width: 494px;
  height: 29px;
  padding: 10px 8px;
  background: none;
  list-style: none;
  cursor: pointer;
}

.search-item:hover {
  background-color: var(--neutral-700);
}

.search-progress {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

@media (min-width: 1024px) {
  .search-container {
    width: 656px;
    height: 56px;
    flex-direction: row;
  }

  .search-dropdown {
    width: 656px;
  }

  .search-input {
    height: 56px;
    width: 526px;
  }
  .search-btn {
    height: 56px;
    width: 114px;
  }
}

@media (min-width: 768px) {
  .search-container {
    width: 656px;
    height: 56px;
    flex-direction: row;
  }

  .search-dropdown {
    width: 656px;
  }

  .search-input {
    height: 56px;
    width: 526px;
  }
  .search-btn {
    height: 56px;
    width: 114px;
  }
}
