body {
  background-color: var(--neutral-900);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 40px;
}

.unit-select {
  width: 120px;
}
.title-container {
  justify-items: center;
}

.title {
  font-family: "BricolageGrotesque_Bold";
  font-size: 52px;
}

.main-content-container {
  gap: 48px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

.content-container {
  display: flex;
  gap: 48px;
  flex-direction: row;
  height: 797px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--neutral-0);
}
.search-input {
  background-color: var(--neutral-800);
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 500px;
  padding: 16px 24px;
}

.search-btn {
  background-color: var(--blue-500);
  height: 45px;
  width: 114px;
  border-radius: 5px;
  border: var(--blue-500);
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.weather-info {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 286px;
}

.location-info {
  position: absolute;
  width: 458px;
  height: 64px;
  transform: translate(30px, 65px);
}

.location-info > p {
  font-family: "DM_Sans_Bold";
  font-size: 28px;
}

.temperature-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 294px;
  height: 120px;
  transform: translate(482px, 83px);
  align-items: center;
}
.temperature-info > p {
  font-family: "DM_Sans_SemiBoldItalic";
  font-size: 96px;
}

.temperature-info > img {
  width: 120px;
  height: 120px;
}

.temperature-details,
.forcast-details {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 118px;
  gap: 24px;
}

.daily-forcast {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.forcast-details {
  gap: 16px;
}

.detail-item {
  width: 182px;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.card-item {
  background-color: var(--neutral-800);
  padding: 20px;
  font-size: 18px;
  font-family: "DM_Sans_Medium";
  border-radius: 12px;
  opacity: 100%;
}

.forcast-item {
  width: 100.57px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.forcast-item > img {
  width: 60px;
  height: 60px;
  align-self: center;
}

.temp-range {
  display: flex;
  justify-content: space-between;
}

.hourly-forecast {
  width: 384px;
  height: 700px;
  background-color: var(--neutral-800);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.hourly-forecast-header {
  display: flex;
  flex-direction: row;
  width: 336px;
  height: 37px;
  justify-content: space-between;
}

.hourly-forcast-item {
  background-color: var(--neutral-700);
  outline: var(--neutral-600);
  width: 336px;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 10px 16px 10px 12px;
  border-radius: 8px;
}

.hourly-forcast-item > img {
  width: 40px;
  height: 40px;
}

.hourly-forcast-item > *:last-child {
  position: absolute;
  right: 16px;
}

.search-dropdown {
  width: 526px;
  height: 184px;
  background-color: var(--neutral-800);
  position: absolute;
  gap: 4px;
  display: flex;
  border-radius: 12px;
  transform: translate(1px, 10px);
  z-index: 1;
  overflow-y: auto;
  flex-direction: column;
}

.search-loader {
  height: 55px;
}

.search-item {
  background-color: none;
  padding: 8px;
  list-style: none;
}

.hourly-forcast-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
