:root{
--neutral-900: hsl(243, 96%, 9%);
--neutral-800: hsl(243, 27%, 20%);
--neutral-700: hsl(243, 23%, 24%);
--neutral-600: hsl(243, 23%, 30%);
--neutral-300: hsl(240, 6%, 70%);
--neutral-200: hsl(250, 6%, 84%);
--neutral-0: hsl(0, 0%, 100%);
--blue-500: hsl(233,67%,56%);
--blue-700: hsl(248,70%,36%);
}
*{
    background-color: var(--neutral-900);
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.banner{
    width: 500px;
    height: 200px;
    background-color: var(--blue-500);
}

.characteristics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    border: 1px solid white;
    height: 100px;
    align-items: center;
}